<a href="https://colab.research.google.com/github/OscarIvaVP/Conceptos-basicos-PYTHON/blob/main/Introduccion_Basicos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

In [ ]:
# Enteros o denominados  (int)
x=1
type(x)

int

In [ ]:
#Decimales o denominados  (float)
y = 1.445
type(y)

float

In [ ]:
#Conjunto de simbolos (números o letras) o denominados  (str)
x = "hola"
y = "123"  #estos es un conjunto de número, pero no permite hacer operaciones matemáticas
type(y) #muestra cual es el tipo de variable

str

# **Operadores**

In [ ]:
#Sumar (+)
x = 23.5
y = 7
z = x + y
print(z)

30.5

In [ ]:
# Resta (-)
x = 5
y = 15
z = y - x
print(z)

10

In [ ]:
# Multiplicación (*)
x = 10
y = 4
z = y * x
print(z)

40

In [ ]:
# División (/)
x = 3
y = 9
z = y / x
print(z)

3.0

In [ ]:
# Potencia (**)
x = 2
y = 3

z = y**x

print(z)

9

# **Expresiones**

In [ ]:
#Entre variables enteros (int) y/o decimales (float)
x = 1.5
y = 2.5
z =  x + y
print(z)

4.0

In [ ]:
#Entre variables string
x = "Buenos"
y = " Días"
z = x + y
print(z)

Buenos Días

In [ ]:
#Entre string y entero o decimal, se requiere transformar la variable
x = 1
y = "123"

z = x + int(y)

print(z)

124

**Orden de operación den una expresión**

1. Potencia
2. Multiplicación o división
3. Suma o resta

In [ ]:
20-2**5/4*2

4.0

In [ ]:
4*2

8

# **Alternativas para programa**

In [ ]:
#Secuenciales
x = 1
x = x + 2
print(x)

3

In [ ]:
#Condicionales

x = 33
if x < 20:
  print("bien")
if x > 30:
  print("mal")

mal

In [ ]:
#Repetitivos

x = 6

while x > 0:
  print(x)
  x=x-2

6
4
2

## **input()**

**Ejemplo** **saludo**

In [ ]:
#La función input() le permite solicitar alguna variable

x = input("¿Cuál es su nombre?   ")

print("Hola", x)

¿Cuál es su nombre?   Oscar
Hola Oscar

**Ejemplo** **zonas** **horarios**

In [ ]:
hr_colombia = input("¿Cuál es la hora en Colombia?  ")

hr_argentina = float(hr_colombia) + 2


print("La hora en Argentina es", hr_argentina,"hrs")

¿Cuál es la hora en Colombia?  11
La hora en Argentina es 13.0 hrs

**Ejemplo de convertir grados de temperatura**

In [ ]:
x = input("¿Cuál es la temperatura en grados fahrenheit?  ")
y = (float(x)-32)*(5/9)
print("Esta temperatura en grado centigrado es",y)

¿Cuál es la temperatura en grados fahrenheit?  120
Esta temperatura en grado centigrado es 48.88888888888889

**Ejemplo de pago con dos variables**

In [ ]:
x = input("¿Cuantas horas trabajo en la semana?  ")
y = input("¿Cual es la tasa de pago $/hrs?  ")
z = float(x) * float(y)
print("Su pago es de", z)

¿Cuantas horas trabajo en la semana?  22
¿Cual es la tasa de pago $/hrs?  30000
Su pago es de 660000.0

**Ejemplo con if**

In [ ]:
# if significa que "si" cumple con la condición se da el resultado
x = input("¿Cuatos años tiene?  ")
x = float(x) #es necesario convertir el tipo de variable
if x < 18:
  print("Es menor de edad")

¿Cuatos años tiene?  30

In [ ]:
#else significa que "sino" se cumple la condición se imprime el resultado
x = input("¿Cuatos años tiene?  ")
x = float(x) #es necesario convertir el tipo de variable
if x >= 18:
  print("Es mayor de edad")
else:
  print("Es menor de edad")

¿Cuatos años tiene?  30
Es mayor de edad

In [ ]:
x = float(input("¿Cual fue su calificación?  "))

if x >= 4:
  print("Excelente nota")
elif x >= 3:
  print("Aceptable nota")
else:
  print("Deficiente nota")

¿Cual fue su calificación?  4
Excelente nota